body{
    background-image: url('denys-nevozhai-63Znf38gnXk-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#headerH1{
    -webkit-text-stroke: 5px #191970;
    font-size: 100px;
    font-weight: 600;
}

#bgColor{
    background-color: white;
    color: black;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}

footer:hover{
    color: #191970;
}